%h1 Listing events
%table.table.table-striped
  %tr
    %th Titel
    %th Description
    %th Number of tickets available
    %th
    %th
  - @events.each do |event|
    %tr
      %td= event.title
      %td= event.description
      %td= event.number_of_tickets_available
      %td= link_to 'Show', event
%br/

