%h1 Listing events
%table
  %tr
    %th Titel
    %th Text
    %th Tickets
    %th
    %th
  - @events.each do |event|
    %tr
      %td= event.title
      %td= event.description
      %td= event.number_of_tickets_available
      %td= link_to 'Show', event
%br/

