%h1 Listing events
  
%table.table.table-striped
  %tbody
    %tr
      %td Title
      %td Description
      %td Number of tickets available
    %tr
      %td= @event.title
      %td= @event.description
      %td= @event.number_of_tickets_available
      %td
        - if @event.tickets_available? && @event.tickets_available_for_user?(current_user)
          = link_to "New reservation", new_event_reservation_path(@event)
        - else
          not available
%br/

