%h1 Listing events
  
%table
  %tbody
    %tr
      %td Title
      %td Description
      %td Number of tickets available
    %tr
      %td= @event.title
      %td= @event.description
      %td= @event.number_of_tickets_available
      %td
        - if @event.tickets_available?
          = link_to 'Reservation'
        - else
          not available
%br/

