%h1 Listing my reservations
%table.table.table-striped
  %tr
    %th ID
    %th Title
    %th Number of tickets
    %th
    %th
  - @reservations.each do |reservation|
    %tr
      %td= reservation.id
      %td= reservation.event.title
      %td= reservation.number_of_tickets
      %td= link_to 'Show', event_reservation_path(reservation.event, reservation)
%br/

