%h1 Reservation events

%table.table.table-striped
  %tr
    %th Titel
    %th Description
    %th Number of tickets available
    %th Order Tickets
    %th
  %tr
    %td test
    %td test
    %td test
    %td max 2 Tickets
%br/

