%h1 New reservation

= simple_form_for [:event, @reservation] do |f|
  = f.input :number_of_tickets, as: :select, collection: @event.tickets_available_options(current_user), include_blank: false
  = f.button :submit