%h1 Show reservation

%table.table.table-striped
  %tbody
    %tr
      %td Title
      %td Description
      %td Number of tickets
    %tr
      %td= @reservation.event.title
      %td= @reservation.event.description
      %td= @reservation.number_of_tickets
      %td betalen
%br/