%h1 Show reservation

%table.table.table-striped
  %tbody
    %tr
      %td Title
      %td Description
      %td Number of tickets
    %tr
      %td= @reservation.event.title
      %td= @reservation.event.description
      %td= @reservation.number_of_tickets
      
%br/
%form{:action => "", :method => "POST"}
  %script.stripe-button{"data-amount" => "2000", "data-description" => "2 widgets ($20.00)", "data-key" => "pk_test_czwzkTp2tactuLOEOqbMTRzG", "data-name" => "Gerico Tickets", :src => "https://checkout.stripe.com/v2/checkout.js"}

= link_to "Back", :controller => :events, :action => :index
