%div{:class => ".payment-errors"}
%form#stripe-form{:action => "REPLACE WITH AN ACTUAL URL HELPER", :method => "post"}
  .formset
    %label Card Number
    %input.credit-number{:autocomplete => "off", :size => "20", :type => "text"}/
  .formset
    %label Security Code/CVC
    %input.credit-scurity{:autocomplete => "off", :size => "4", :type => "text"}/
  .formset
    %label Expiration (MM/YYYY)
    %input.card-expiry-month{:size => "2", :type => "text"}/
    %span /
    %input.card-expiry-year{:size => "4", :type => "text"}/
  %button.submit{:type => "submit"} Submit Payment
